@use "global" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}
.bg {
  background-color: $prycolor;
  font-family: "Rockwell";
  color: $seccolor;
}
.navnumber {
  color: $tercolor !important;
  // @include headerFONT6;
}
// .navtext {
//   color: $seccolor;
//   // @include headerFONT6;
// }
.resume {
  @include button;
}
// .resumetext {
//   color: $tercolor !important;
// }
.experience {
  @include headerFONT6;
}

.firsttext {
  color: $seccolor;
  @include headerFONT5;
  padding-top: 5%;
}
.nametext {
  // @include headerFONT5;
}
.hello {
  text-align: justify;
  padding-inline: 1.5rem;

  // @include headerFONT6;
}
.workset {
  padding-inline: 5rem;
}

.titleBorder {
  border-bottom: 1px solid $tercolor;
}
.footer {
  margin-top: 50px;
}
.get {
  color: $seccolor;
  // margin-top: 70px;
  // margin-bottom: 20px;
}
#footertext {
  // margin-left: 140px;
  color: $seccolor;
}
#icon a {
  color: $seccolor;
}
.resumetext {
  @include headerFONT6;
}

// @media only screen and (max-width: 600px) {
//   .myImage {
//     margin-top: 40px;
//   }
// }
// .moonProjectImgDiv {
//   min-height: 100%;
//   min-width: 50%;
// }

.moonProjectImg {
  max-width: 95%;
  display: block;
  margin: auto;
  // height: auto;
}

@media only screen and (max-width: 768px) {
  .myImage {
    margin-top: 40px;
  }
  .workset {
    padding-inline: 1rem;
    width: 100% !important;
  }
}
